<div class="page">
    <app-back></app-back>
    <div class="page">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome da Escola</th>
                    <th scope="col">CNPJ</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Tipo</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let school of schools; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ school.name }}</td>
                    <td>{{ school.cnpj }}</td>
                    <td>{{ school.address.city }}</td>
                    <td>{{ school.type ? 'Particular' : 'Pública' }}</td>
                    <td class="tools">
                        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit-school-modal" (click)="setSelectedSchoolId(school.id_school)" >
                            Editar
                        </button>
                        <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#info-school-modal" (click)="setSelectedSchoolId(school.id_school)">
                            Visualizar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-infoschool-modal class="modal fade" id="info-school-modal" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" [schoolId]="selectedSchoolId" [schoolData]="schoolData"/>
    <app-editschool-modal class="modal fade" id="edit-school-modal" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" [schoolId]="selectedSchoolId" [schoolData]="schoolData" (reloadSchools)="reloadSchools()" />
    <app-confirm-modal class="modal fade" id="confirm-modal" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" (reloadSchools)="reloadSchools()"/>
</div>