<div class="modal-dialog">
    <div class="school-modal modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Dados da Escola</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="school-info">
                <p>Você tem certeza que deseja deletar?</p>
            </div>
        </div>    
        <div class="modal-footer">
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target='' (click)="delete()">
                Deletar
            </button>
            <button class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                Cancelar
            </button>
        </div>
    </div>
</div>