<div class="card text-center mb-3 mainMenu">
    <div class="d-grid gap-2">
        <form [formGroup]="loginForm" class="form" (ngSubmit)="onSubmit()">
            <div class="mb-3 input">
              <label for="user" class="form-label">Usuario</label>
              <input type="email" class="form-control" id="user" aria-describedby="userHelp" formControlName="user" required>
            </div>
            <div class="mb-3 input">
              <label for="password" class="form-label">Senha</label>
              <input type="password" class="form-control" id="password" formControlName="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Fazer login</button>
          </form>
    </div>
</div>